body {
  background-color: hsl(0, 0%, 30%);
}

h1 {
  font-size: 3em;
  font-family: Comic Sans MS;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

ul {
  font-size: 3em;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

li {
  position: relative;
  transition: color 2s;
  cursor: pointer;
  padding: 0px 20px;
}

li:hover {
  color: hsl(0, 100%, 70%);
}

li::before {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-50%) rotateZ(45deg);
  top: 50%;
  left: -1px;
  width: 10px;
  height: 10px;
  background-color: hsl(0, 100%, 70%);
  transition: background-color 2s;
}

li:hover::before {
  background-color: black;
}
