@import "./_theme";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding-top: 40px;
  height: 750px;
  margin: 0px auto;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 44px;
  }

  &__button {
    z-index: 1;
    padding: 17.5px 40px;
    border: none;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
    background-color: #365fac;
    color: white;
  }
}

.main {
  padding-top: 120px;
  color: white;
  display: flex;
  height: 500px;

  &__left {
    overflow: hidden;
    width: 50%;

    h1 {
      font-family: "Inter";
      font-size: 64px;
      font-weight: 800;
      font-style: italic;
    }

    h2 {
      width: 400px;
      padding-top: 30px;
      font-family: "Inter";
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
    }
  }

  &__right {
    width: 50%;

    img {
      position: relative;
      margin: 0px;
      height: 106vh;
      top: -250px;
      right: 0px;
    }
  }
}

.content {
  display: flex;
  background-color: #365fac;
  max-width: 1200px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px auto;

  &__left {
    width: 50%;

    h1 {
      font-family: "Inter";
      font-size: 55px;
      font-weight: 600;
      font-style: italic;
      color: white;
    }

    p {
      padding-top: 60px;
      font-family: "Inter";
      font-size: 22px;
      font-weight: 600;
      font-style: italic;
      color: white;
    }
  }

  &__right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;

    img {
      width: 85%;
      border-radius: 25px;
    }
  }
}

.kontakt {
  margin-top: 40px;
  padding: 17.5px 40px;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  background-color: #365fac;
  color: white;
}

#Wave {
  position: relative;
  width: 150%;
  top: -100px;
  left: -160px;
}

.wraperTwo {
  background-color: #365fac;
}
