@import "./_theme";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $bgbody;
  flex-direction: column;
  display: flex;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 3vw;

  .nestedNavigation {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 80%;

    &__Logo {
      height: 2.5vw;
    }

    &__Button {
      transition: background-color 1s, border-radius 1s;
      background-color: #365fac;
      font-family: "Inter";
      font-style: italic;
      font-weight: 900;
      padding: 1vw 3vw;
      cursor: pointer;
      font-size: 1vw;
      color: white;
      border: none;

      &:hover {
        background-color: #4071cd;
        border-radius: 0.75vw;
      }
    }
  }
}

.firstWrapper {
  justify-content: right;
  display: flex;
  width: 100%;

  .nestedWrapper {
    display: flex;
    width: 90%;

    &__leftSide {
      padding-top: 10vw;
      padding-bottom: 10vw;
      width: 40%;

      h1 {
        font-family: "inter";
        font-style: italic;
        font-weight: 900;
        font-size: 5vw;
        color: white;
      }

      h2 {
        font-family: "inter";
        font-style: italic;
        font-weight: 750;
        font-size: 1.5vw;
        color: white;
      }

      .linedHeader {
        padding-top: 2vw;
      }

      a {
        text-decoration: none;

        button {
          transition: background-color 1s, border-radius 1s;
          background-color: #365fac;
          font-family: "Inter";
          font-style: italic;
          font-weight: 900;
          padding: 1vw 3vw;
          margin-top: 4vw;
          cursor: pointer;
          font-size: 1vw;
          color: white;
          border: none;

          &:hover {
            background-color: #4071cd;
            border-radius: 0.75vw;
          }
        }
      }
    }

    &__rightSide {
      background-image: url("/src/images/Photo.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 60%;
    }
  }
}

#firstWave {
  position: absolute;
  width: 100%;
  top: 35vw;
}

.secondWrapper {
  background-color: #365fac;
  justify-content: center;
  margin-top: 4vw;
  display: flex;
  width: 100%;

  .nestedWrapper {
    padding-top: 6vw;
    display: flex;
    width: 100%;

    &__space {
      width: 10%;
    }

    &__leftSide {
      width: 40%;

      h1 {
        font-family: "inter";
        font-style: italic;
        font-weight: 900;
        font-size: 4vw;
        color: white;
      }

      p {
        font-family: "inter";
        font-style: italic;
        font-weight: 550;
        padding-top: 2.5vw;
        font-size: 1.7vw;
        color: white;
      }
    }

    &__rightSide {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 50%;

      img {
        width: 85%;
      }
    }
  }
}

#secondWave {
  width: 100%;
}
