* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #161616;
  flex-direction: column;
  display: flex;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 3vw;
}
.navigation .nestedNavigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 80%;
}
.navigation .nestedNavigation__Logo {
  height: 2.5vw;
}
.navigation .nestedNavigation__Button {
  transition: background-color 1s, border-radius 1s;
  background-color: #365fac;
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  padding: 1vw 3vw;
  cursor: pointer;
  font-size: 1vw;
  color: white;
  border: none;
}
.navigation .nestedNavigation__Button:hover {
  background-color: #4071cd;
  border-radius: 0.75vw;
}

.firstWrapper {
  justify-content: right;
  display: flex;
  width: 100%;
}
.firstWrapper .nestedWrapper {
  display: flex;
  width: 90%;
}
.firstWrapper .nestedWrapper__leftSide {
  padding-top: 10vw;
  padding-bottom: 10vw;
  width: 40%;
}
.firstWrapper .nestedWrapper__leftSide h1 {
  font-family: "inter";
  font-style: italic;
  font-weight: 900;
  font-size: 5vw;
  color: white;
}
.firstWrapper .nestedWrapper__leftSide h2 {
  font-family: "inter";
  font-style: italic;
  font-weight: 750;
  font-size: 1.5vw;
  color: white;
}
.firstWrapper .nestedWrapper__leftSide .linedHeader {
  padding-top: 2vw;
}
.firstWrapper .nestedWrapper__leftSide a {
  text-decoration: none;
}
.firstWrapper .nestedWrapper__leftSide a button {
  transition: background-color 1s, border-radius 1s;
  background-color: #365fac;
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  padding: 1vw 3vw;
  margin-top: 4vw;
  cursor: pointer;
  font-size: 1vw;
  color: white;
  border: none;
}
.firstWrapper .nestedWrapper__leftSide a button:hover {
  background-color: #4071cd;
  border-radius: 0.75vw;
}
.firstWrapper .nestedWrapper__rightSide {
  background-image: url("/src/images/Photo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
}

#firstWave {
  transform: translateX(-52.5%);
  position: relative;
  width: 110%;
  left: 50%;
  top: 1vw;
}

.secondWrapper {
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: -8.5vw;
  display: flex;
  width: 100%;
}
.secondWrapper .nestedWrapper {
  background-color: #365fac;
  padding-top: 6vw;
  display: flex;
  width: 100%;
}
.secondWrapper .nestedWrapper__space {
  width: 10%;
}
.secondWrapper .nestedWrapper__leftSide {
  width: 40%;
}
.secondWrapper .nestedWrapper__leftSide h1 {
  font-family: "inter";
  font-style: italic;
  font-weight: 900;
  font-size: 4vw;
  color: white;
}
.secondWrapper .nestedWrapper__leftSide p {
  font-family: "inter";
  font-style: italic;
  font-weight: 550;
  padding-top: 2.5vw;
  font-size: 1.7vw;
  color: white;
}
.secondWrapper .nestedWrapper__rightSide {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
}
.secondWrapper .nestedWrapper__rightSide img {
  width: 85%;
}

#secondWave {
  transform: translateX(-52.5%);
  position: relative;
  width: 110%;
  left: 50%;
  top: -1vw;
}/*# sourceMappingURL=style.css.map */